/* src/components/Container.css */

.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: row;
}

h1 {
  display: flex;
  font-size: xx-large;
  text-align: center;
  justify-content: center;
  align-items: center;
}

hr {
  border: 2px solid #000;
  width: 80%;
}

h2 {
  margin: 1rem;
  color: #099909;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: xx-large;
  border: 1px solid #000;
  border-radius: 10%;
  background-color: whitesmoke;
}

ul {
  list-style: none;
  padding-left: 1rem;
  color: slateblue;
  font-size: larger;
  font-weight: bold;
}

li {
  list-style: none;
  text-align: center;
  border: 1px solid #ffa500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;;
  font-size: large;
  font-weight: lighter;
  color: #a00000;
  margin: 1rem;
  word-break: keep-all;
}

  span {
    display: flex;
    flex-direction: column;
    border: 5px solid #999;
    width: min-content;
    height: max-content;
    margin: 10rem;
  }